/*
 * Test profile: E-MTAB-3788 (LINE-1 knockdown RNA-seq)
 *
 * MCF-7 and 2102Ep cells ± L1 ORF1 shRNA knockdown.
 * 2×150 bp paired-end, strand-specific, polyA+ RNA-seq.
 * ENA project: ERP011233
 *
 * Expected result: k-mer clusters mapping to LINE-1 (L1HS-Ta) consensus
 * should show significantly reduced expression in sh1083 / sh1085 vs
 * scramble control (sh960) and untreated samples.
 *
 * To download the data before running:
 *   bash bin/download_test_data.sh
 */

params {
    species      = 'human'
    k            = 50
    max_mismatch = 10
    max_clip     = 10
    n_clusters   = 50
    outdir       = 'results_test'

    // After downloading with bin/download_test_data.sh, point here:
    reads = 'test_data/*_{1,2}.fastq.gz'
}

process {
    cpus   = 2
    memory = '4 GB'

    withName: 'BUILD_BOWTIE2_INDEX' {
        cpus   = 4
        memory = '8 GB'
    }
    withName: 'MAP_TO_TE_CONSENSUS' {
        cpus   = 4
        memory = '8 GB'
    }
}
